main
    section#select-price
        .analytics.price_big
            h4.select  misocial
            h2 Select a Plan
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deleniti enim optio voluptate!
        .variants
            .price
                figure
                    p
                        img(src='img/pricing_satelite.png' alt='pricing satelite')
                    figcaption
                        h4 personal
                        p.price_big
                            span  0
                            | /month
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium culpa dolore error facilis id itaque nulla sunt?
                a.button(href='#') SELECT PLAN
            .price
                figure
                    p
                        img(src='img/pricing_mars.png' alt='pricing mars')
                    figcaption
                        h4 personal
                        p.price_big
                            span  29
                            | /month
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid at consequatur consequuntur reiciendis rem soluta ullam? Consectetur?
                a.button(href='#') SELECT PLAN
            .price
                figure
                    p
                        img(src='img/pricing_rocket.png' alt='pricing rocket')
                    figcaption
                        h4 personal
                        p.price_big
                            span 49
                            | /month
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut autem corporis dolorem eum illo maiores nisi quis totam!
                a.button(href='#') SELECT PLAN
    section.control.analytics
        h4 SOCIAL MARKETING &amp; ANALYTICS
        h2 Take control of your data
        div
            a.button(href='#') get started
            a.button(href='#') explore features