<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=2.0, user-scalable=yes")
        title Pricing Table
        link(rel="stylesheet", href="css/main.css")
        link(href='https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap' rel='stylesheet')
    body
        include ./components/header
        include ./components/base
        include ./components/footer
        script(src='https://kit.fontawesome.com/8a5a262e3a.js' crossorigin='anonymous')